# Live Session Unit 13 Assignment
Due:  December 01, 2016 (Thursday)
Brian Kruse
Introduction to Data Science
Section 404


1.	Create a list named my_list in python with the following data points and 
    a) print the fifth element in the list

In [1]:
my_list = [45.4, 44.2, 36.8, 35.1, 39.0, 60.0, 47.4, 41.1, 45.8, 35.6]
print(my_list[4])

39.0

    b)	Append 55.2 to my_list

In [2]:
my_list.insert(0, 55.2)
print(my_list)

[55.2, 45.4, 44.2, 36.8, 35.1, 39.0, 60.0, 47.4, 41.1, 45.8, 35.6]

    c) Remove the 6th element in the list

In [3]:
my_list.remove(39.0)
print(my_list)

[55.2, 45.4, 44.2, 36.8, 35.1, 60.0, 47.4, 41.1, 45.8, 35.6]

    d) Iterate over the list to print data points greater than 45

In [4]:
i = 0
while i < len(my_list):
    j2 = my_list[i]
    if j2 >45 :
        print(my_list[i])
        i += 1
    else:
        i += 1

55.2
45.4
60.0
47.4
45.8

2) Work with numpy

    a) import numpy

In [5]:
import numpy as np

    b) repeat the same list in numpy

In [6]:
X = np.matrix([55.2, 45.4, 44.2, 36.8, 35.1, 60.0, 47.4, 41.1, 45.8, 35.6])
X

matrix([[ 55.2,  45.4,  44.2,  36.8,  35.1,  60. ,  47.4,  41.1,  45.8,
          35.6]])

    c) Compute the mean and standard deviation using numpy.mean() and numpy.std() of the above array

In [7]:
y_mean = np.mean(X)
print(y_mean)
z_std = np.std(X)
print(z_std)

44.66
7.77112604453

    d)	Use logical referencing to get only those values that are less than 45

In [8]:
dd_lt_45 = np.where (X<45)
print(X[dd_lt_45])

[[ 44.2  36.8  35.1  41.1  35.6]]

    e)  Compute the max and min of the array using numpy.max() and numpy.min()

In [9]:
aa_max = np.max(X)
print(aa_max)
bb_min = np.min(X)
print(bb_min)

60.0
35.1

3.	Introduction to pandas –
    a)	Import the pandas library – import pandas

In [10]:
import pandas

    b) Read the IRIS dataset into iris using pandas.read_csv().

In [11]:
iris = pandas.read_csv('/users/briankruse/desktop/iris.csv')

    c) Using iris.head(), display the head of the dataset

In [12]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

    d)  Use DataFrame.drop() to drop the id column

In [13]:
iris.drop([iris.columns[0]], axis=1, inplace=True)
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

    e) Subset dataframe to create a new data frame that includes only the measurements for the setosa species

In [14]:
valuelist = ['Iris-setosa']
iris_setosa = iris[iris.Species.isin(valuelist)]
print(iris_setosa)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0             5.1           3.5            1.4           0.2  Iris-setosa
1             4.9           3.0            1.4           0.2  Iris-setosa
2             4.7           3.2            1.3           0.2  Iris-setosa
3             4.6           3.1            1.5           0.2  Iris-setosa
4             5.0           3.6            1.4           0.2  Iris-setosa
5             5.4           3.9            1.7           0.4  Iris-setosa
6             4.6           3.4            1.4           0.3  Iris-setosa
7             5.0           3.4            1.5           0.2  Iris-setosa
8             4.4           2.9            1.4           0.2  Iris-setosa
9             4.9           3.1            1.5           0.1  Iris-setosa
10            5.4           3.7            1.5           0.2  Iris-setosa
11            4.8           3.4            1.6           0.2  Iris-setosa
12            4.8           3.0            1.4           0.1  Iris-setosa
13            4.3           3.0            1.1           0.1  Iris-setosa
14            5.8           4.0            1.2           0.2  Iris-setosa
15            5.7           4.4            1.5           0.4  Iris-setosa
16            5.4           3.9            1.3           0.4  Iris-setosa
17            5.1           3.5            1.4           0.3  Iris-setosa
18            5.7           3.8            1.7           0.3  Iris-setosa
19            5.1           3.8            1.5           0.3  Iris-setosa
20            5.4           3.4            1.7           0.2  Iris-setosa
21            5.1           3.7            1.5           0.4  Iris-setosa
22            4.6           3.6            1.0           0.2  Iris-setosa
23            5.1           3.3            1.7           0.5  Iris-setosa
24            4.8           3.4            1.9           0.2  Iris-setosa
25            5.0           3.0            1.6           0.2  Iris-setosa
26            5.0           3.4            1.6           0.4  Iris-setosa
27            5.2           3.5            1.5           0.2  Iris-setosa
28            5.2           3.4            1.4           0.2  Iris-setosa
29            4.7           3.2            1.6           0.2  Iris-setosa
30            4.8           3.1            1.6           0.2  Iris-setosa
31            5.4           3.4            1.5           0.4  Iris-setosa
32            5.2           4.1            1.5           0.1  Iris-setosa
33            5.5           4.2            1.4           0.2  Iris-setosa
34            4.9           3.1            1.5           0.1  Iris-setosa
35            5.0           3.2            1.2           0.2  Iris-setosa
36            5.5           3.5            1.3           0.2  Iris-setosa
37            4.9           3.1            1.5           0.1  Iris-setosa
38            4.4           3.0            1.3           0.2  Iris-setosa
39            5.1           3.4            1.5           0.2  Iris-setosa
40            5.0           3.5            1.3           0.3  Iris-setosa
41            4.5           2.3            1.3           0.3  Iris-setosa
42            4.4           3.2            1.3           0.2  Iris-setosa
43            5.0           3.5            1.6           0.6  Iris-setosa
44            5.1           3.8            1.9           0.4  Iris-setosa
45            4.8           3.0            1.4           0.3  Iris-setosa
46            5.1           3.8            1.6           0.2  Iris-setosa
47            4.6           3.2            1.4           0.2  Iris-setosa
48            5.3           3.7            1.5           0.2  Iris-setosa
49            5.0           3.3            1.4           0.2  Iris-setosa

    f) Use DataFrame.describe() to get the summary statistics

In [15]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

    g) Use DataFrame.groupby() to create grouped data frames by Species                                                      and compute summary statistics using DataFrame.describe()

In [16]:
iris.groupby(['Species']).sum() 
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

    h) Use DataFrame.boxplot() to plot boxplots by Species

In [17]:
iris.boxplot(column='SepalLengthCm',by='Species')
iris.boxplot(column='SepalWidthCm',by='Species')
iris.boxplot(column='PetalLengthCm',by='Species')
iris.boxplot(column='PetalWidthCm',by='Species')

    i) Plot a scatter matrix plot using the seaborn library. Use the following to load and plot

In [18]:
import seaborn as sns
sns.pairplot(iris,hue='Species')

ImportError: No module named 'seaborn'